/* Override the default header and footer colors */
header.site-header {
  background-color: #457b9d !important;
  color: #ffffff !important;
  border-bottom: none !important;
}

footer.page__footer {
  background-color: #457b9d !important;
  color: #ffffff !important;
  border-top: none !important;
}
